.eggTitle {
    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 10vh;
    background-color: #cb958e;
}

.eggSelector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 4vh;
    column-gap: 25vh;
    row-gap: 8vw;
}

.eggSelector input {
    display: none;
}

.eggSelector label img {
    display: inline-block;
    width: 108px;
    height: 126px;
    background-size: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.eggSelector input:checked + label {
    animation: shake 0.5s infinite;
}

.eggMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vh;
}

#continueBtn {
    position: fixed;
    background-color: #cb958e;
    font-size: 2vw;
    bottom: 4vh;
    right: 10vw;
    border: 2px solid #000;
    cursor: pointer;
    width: 20vw;
    height: 8vh;
    font-family: inherit;
}

/* Media Queries */
@media (max-width: 768px) {
    .eggTitle {
        font-size: 4vw;
        margin-top: 4vh;
        margin-bottom: 8vh;
    }

    .eggSelector {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10vh;
        row-gap: 4vw;
    }

    .eggSelector label img {
        width: 80px;
        height: 90px;
    }

    #continueBtn {
        font-size: 4vw;
        bottom: 10vh;
        right: 5vw;
        width: auto;
        height: auto;
        padding: 2vh 1vh;
    }
}
